# Byte-compiled file
__pycache__/

# test files
101-generator.py
100-main.py
append_after_100.txt
12-main.py
11-main.py 
10-main.py 
9-main.py 
8-my_class.py 
8-main.py
add_item.json
my_fake.json
6-main.py
my_list.json
my_dict.json
my_fake.json
5-main.py
4-main.py
3-main.py
2-main.py
1-main.py
0-main.py
my_set.json
student.json
my_first_file.txt
file.append.txt
